.about-container {
    background-color: 	#b9e2f5;
    width: 85%;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.about-text {
    width: 50%;
    padding: 2em;
}

.about-text h1 {
    font-family: serif;
    font-weight: 300;
    font-size: 3rem;
    margin-top: 0;
    color: #1F75FE;
}

.about-text h2{
    font-family: serif;
}

.about-text p {
    font-family: serif;
    text-align: justify;
}

.about-img-container {
    width: 45%;
    text-align: center;
}

.about-img {
    object-fit: cover;
    height: 70vh;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .about-container {
        width: 90%;
        margin: 3em auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .about-text {
        width: 80%;
        padding: 2em;
        order: 2;
    }

    .about-img-container {
        width: 100%;
        text-align: center;
    }

    .about-img {
        height: 50vh;
    }
  }